
.rooms_header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 9rem;

    .categories {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    
        a {
            margin-left: 1rem !important;
            background-color: #F3F4EF !important;
            padding: .5rem 1.5rem !important;
            border-radius: 5px !important;
            display: inline-block !important;
        }
    
        .active_link {
            background-color: #E1DFCE !important;
        }
    }
    
    .sort {
        width: 300px;
    }
}

.rooms_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    
    * {
        direction: rtl !important;
    }
}

@media (max-width: 700px) {
    .rooms_header{
        flex-direction: column;
        align-items: center;
        margin-bottom: 9rem;

        .categories {
            width: 100%;
            overflow-x: scroll;
            padding-bottom: 1rem;
        
            a {
                margin-left: .5rem !important;
                padding: .5rem 1rem !important;
                white-space: nowrap;
            }
        }
        
        .sort {
            width: 100%;
            margin-top: 1.5rem;
        }
    }

    .rooms_container {
        display: grid;
        grid-template-columns: 1fr;
    }
}